.deck-holder {
    transform: translateZ(0);
    display: flex;
    width: 188px;
    height: 221px;
    box-sizing: content-box;
    .deck-item {
        position: fixed;
        .item {
            position: relative;
        }
    }
}

.slide-in {
  
    &-move {
      transition: opacity .5s linear, transform .5s ease-in-out;
    }
    
    &-leave-active {
      transition: opacity .4s linear, transform .4s cubic-bezier(.5,0,.7,.4); //cubic-bezier(.7,0,.7,1); 
      transition-delay: calc( 0.1s * (var(--total) - var(--i)) );
    }
    
    &-enter-active { 
      transition: opacity .5s linear, transform .5s cubic-bezier(.2,.5,.1,1);
      transition-delay: calc( 0.1s * var(--i) );
    }
  
    &-enter, 
    &-leave-to {
      opacity: 0;
    }
    
    &-enter { transform: translateX(-1em); }
    &-leave-to { transform: translateX(1em); }
  
  }

  .insert {
    &-enter, &-leave-to{
      opacity: 0;
    }
    &-enter{
      transform: translateY(-50px);
    }
    &-leave-to{
      transform: translateY(50px);
    }
    &-enter-active {
      transition: opacity .3s linear, transform 0.5s cubic-bezier(.68,-0.12,0,1.18);
    }
    &-leave-active{
      transition: opacity .3s linear, transform 0.5s cubic-bezier(.68,-0.12,0,1.18);
    }
    &-move{
      transition: all .5s ease-in-out;
    }
  }