.flip-container {
  display: inline-block;
  width: 130px;
  height: 206px;
  perspective: 1000px;
  transition-delay: inherit;
  margin: auto;
  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s cubic-bezier(1,-0.59,0,1.43);
    transition-delay: inherit;
    transform-style: preserve-3d;
    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    .back {
      transform: rotateY(180deg);
    }
  }
  &.active {
    .flipper {
      transform: rotateY(180deg);
    }
  }
}
 
  